@charset "UTF-8";
/*
Theme Name: WPPADRAO
Author: the BW2 tech team
Author URI: https://bw2.com.br/
*/

body, html {
    font-family: 'Montserrat', sans-serif !important;
}

a, a:not('.btn') {
    transition: all 0.2s ease;
    color: #28567E !important;
}

a:hover {
    text-decoration: none !important;
}

li {
    list-style-type: none;
}

.main-navbar .open-menu button {
    background: transparent;
    border: none;

    height: 32px;
    line-height: 32px;
}

.main-navbar .open-menu button i {
    font-size: 28px;
    float: left;
    display: inline;
    margin-right: 10px;
}

header.main-header {
    border-bottom: 1px solid #ccc;
}

.main-navbar {
    width: 100%;
    background-color: transparent !important;
}

.post-item-feature figure {
    position: relative;
}


.header-form-search {
    border: 1px solid #ccc;
}

.header-form-search input {
    border: none;
    width: 180px;
}

.header-form-search input:focus {
    box-shadow: 0 0 0 transparent;
    outline: none;
}

.header-form-search button{
background-color: transparent;
}

.post-item-feature figure span {
    position: absolute;
    background: #fff;
    left: 17px;
    top: 2px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 12px;
    transition: all 0.2s ease;
}

.post-item-feature span:hover {
    background: #28567E;
}

.post-item-feature span:hover a {
    color: #FFF !important;
}

.post-item .post-thumbnail img {
}

.post-item small a {
    text-transform: uppercase;
}

.post-item h4 a,
.post-item h2 a {
    color: #444;
}

.pub-block {
    border: 1px solid #eee;
}

.pub-block span {
    position: absolute;
    right: 5%;
    background: #fff;
    top: -15px;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: #999;
    text-transform: uppercase;
}

.navigation p {
    font-size: 0;
}

.navigation a {
    font-size: 1.3rem;
    color: #fff;
    background: #28567E;
    padding: 0 1.6rem;
    height: 60px;
    position: relative;
    display: inline-block;
    line-height: 60px;

    transition: all 0.2s ease;
}

.navigation a:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.1);
}

.navigation a.next:after, .navigation a.next:before {
    left: calc(100% - 1px);
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.navigation a.next:after {
    border-left-color: #28567E;
    border-width: 30px;
    margin-top: -30px;
}


.navigation a.prev:after, .navigation a.prev:before {
    right: calc(100% - 1px);
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.navigation a.prev:after {
    border-right-color: #28567E;
    border-width: 30px;
    margin-top: -30px;
}

.post-navigator {
    background: #fafafa;
    color: #999;
}

@media (max-width: 992px) {
    .navigation a {
        font-size: 1rem;
        color: #fff;
        background: #28567E;
        padding: 0 0.5rem;
        height: 40px;
        position: relative;
        display: inline-block;
        line-height: 40px;

        transition: all 0.2s ease;
    }


    .navigation a.next:after {
        border-width: 20px;
        margin-top: -20px;
    }


    .navigation a.prev:after {
        border-width: 20px;
        margin-top: -20px;
    }
}


.menu-slide {
    width: 240px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 2rem;
    background: #C73131;
    height: 100%;
    z-index: 999;
}

.menu-slide h4 {
    color: #fff;
}

.menu-slide h4,
.menu-slide li a {
    color: #fff;
}

.menu-slide h4 {
    position: relative;
}

.menu-slide h4 button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
}
.menu-slide li{
    list-style: none;
    line-height: 2.5;
}

.menu-slide ul {
    width: 100%;
    display: inline-block;
}

.menu-line {
    width: 80%;
    margin-left: 10%;
    height: 1px;
    background-color: #fff;
    float: left;
}

ul.feature-list,
ul.feature-list li {
    width: 100%;
    display: inline-block;
}

ul.feature-list li,
ul.feature-list li:hover {
    background: transparent;
    border: none !important;
}

ul.feature-list li:after {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    float: left;

    margin: 15px 0 0;

    content: '';
}

ul.feature-list li:last-child:after {
    display:none;
}

ul.feature-list li:last-child {
    margin-bottom: 15px;
}
.digital-edition{
    border: 2px solid #eee;
}
.media-botton{
    width: 175px;
    justify-content: center;
}
.card-body{
    font-size: 30;
}
.title-border{
    border-bottom: 2px solid #eee;
    width: 100%;
    display: inline-block;
}

ul.media-group{
    list-style-type: none;
}

ul.media-group .feature li:after {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    float: left;


    margin: 15px 0 0;

    content: '';
}
.border-media {
    border: 1px solid #eee
}
ul.media-group2 li{
    width: 100%;
    display: inline-block;
}
 
ul.media-group2 li:after {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    float: left;
    
    margin: 10px 0;

    content: '';
}

ul.media-group2 li:last-child:after {
    display:none;
    margin-bottom: 0;
}

.h6{
    font-size: 0.50em;
}
.tag{
    font-size: 20px;
    text-align: center;
}


.single-post .post-header .category-list a {
    color: #fff !important;
}

.share-items {
    line-height: 32px;
    color: #888;
    font-size: 20px;
}

.share-items a {
    display: inline-block;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    padding: 0 20px;
    margin-left: 10px;
}

.share-items a:hover {
    color: #fff;
}

.share-items .share-fb {
    background-color: #3b5998;
}
.share-items .share-twitter{

    background-color: #1da1f2;
}
.share-items .share-whatsapp{
    
    background-color: #25D366;
}

.card.moviment {
    position: relative;
    height: 100%;
}

.card.moviment .card-body {
    transition: all 0.2s ease;
}

.card.moviment img {
    transition: all 0.2s ease;
}

.card.moviment:hover img {
    opacity: 0
}

.card.moviment:hover .card-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.image{
    padding: 10px 20px;
    background: #e5e5e5;
    border-left: 2px solid #b7bcbc;
}